#assign_header {
	text-align: center;
	background-color: #B90E0A;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 18px;
	font-family: sans-serif;
}

#assign_header h4 {
	margin-bottom: 0px;
}

.caption {
	font-size: 12px;
	color: gray;
	margin-top: 8px;
	font-style: italic;
}

.headline{
font-size: 60px;
font-family: "Verdana", sans-serif;
font-style: ;
margin-right: 12 px;
color: #B90E0A;
}

h5{ font-style: italic;
	font-family: sans-serif;
}

.visualization {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 6px;
	padding-bottom: 6px;
}

p {
	font-family: Arial;
	padding-left: 12px;
	padding-right: 12px;
}


